<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <div class="container">

    {{>header}} 

    <img id="weather-image" src="/assets/flamenco-snow-lord.png" alt="">

    <div class="content-wrapper">
      <form>
        <div class="input-wrapper">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path d="M0 0h24v24H0Z"/><path fill="none" stroke="rgb(238,102,105)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 20l7-16L4 11l7.47 1.51Z"/></g></svg>
          <input id="location" type="text" placeholder="Location">
        </div>
        <button type="submit">How hot is it</button>
      </form>
    </div>

    <p id="message1"></p>
    <p id="message2"></p>

    {{>footer}}
  </div>

  <script src="/js/main.js"></script>
</body>
</html>